<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method = 'post' action = '/hello'>
<h1>Create Your Recipe</h1>
    <h4>Recipe Title <input type='text' name = 'name' /></h4><br>
    <h3>Tell Us About Your Recipe <input type='text' name = 'about' /></h3><br>
    <h3>Ingredients <input type='text' name = 'ingr' /></h3><br>
    <h3>Directions <input type='text' name = 'direc' /></h3><br>
    <h3>Recipe Tips <input type='text' name = 'tips' /></h3><br>
    <input type='submit' />
</form>
</body>
</html>