<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Create Recipe</title>
</head>
<body>
<h1>Create Recipe</h1>

<form method="post" action="/Recipe/create">
    <h4>Recipe Title: <input type="text" name="name"></h4>
    <h4>About your Recipe: <input type="text" name="about"></h4>
    <h4>Ingredients: <input type="text" name="ingr"></h4>
    <h4>Direction: <input type="text" name="direc"></h4>
    <input type="submit" value="Create">
</form>
</body>
</html>