<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="content">

    <div th:replace="fragments :: page-header"></div>

    <header th:replace="fragments :: header"></header>

    <div class="content">

        <h1>Search by Ingredient</h1>
        <div id="searchDiv">
            <!-- <form method="post" action="/search/index" class="form form-inline ml-auto"> -->
            <button name="searchByIngredient" id="searchByIngredient" class="button" type="submit">SEARCH</button>
            <input name="ingredientToSearch" id="ingredientToSearch" class="form form-control" type='text' placeholder="Search by Ingredient">
            <!-- </form> -->
        </div>

        <div id="results">
        </div>

    </div>
<!--    <script src="../static/javascript/api.js"></script>-->
</div>

<div th:replace="fragments :: footer" class="short-footer"></div>

    <script>
console.log("javascript connected");

async function search(searchTerm) {
  // building our url
  var apiKey = '3057efc6229646c8b0bda8fd922322a6';
  var api = 'https://api.spoonacular.com/recipes/complexSearch?apiKey=' + apiKey + '&instructionsRequired=true&includeIngredients=' + searchTerm;
  // retrieving data
  const response = await fetch(api);
  const data = await response.json();
  // using data
  console.log(api);
  console.log(data);
  displayResults(data);
}

searchByIngredient.addEventListener('click', function (e) {
  var searchTerm = document.getElementById("ingredientToSearch").value;

  if(typeof(searchTerm) != 'string') {
      e.preventDefault();
      console.log("if statement " + searchTerm);

  } else {
    //grabbing user input
    (console.log("else statement " + searchTerm));
    search(searchTerm);
  }
});

function displayResults (results) {
  const displayData = document.getElementById("results");
  for(let i = 0; i < results.results.length; i++) {
  var apiRecipeId = ((results.results[i].id).toString());
<!--    console.log('https://api.spoonacular.com/recipes/' + ((results.results[i].id).toString()) + '/analyzedInstructions?apiKey=' + apiKey);-->
 displayData.innerHTML += `
    <div>
      <p>${results.results[i].title} </p>
        <img src="${results.results[i].image}"/>


    </div>
  `;
}
}

    </script>
</body>
</html>

