<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post" action="/recipes/create">
    <div class="form-group">
        <label>Name
            <input th:field="${recipe.name}" class="form-control">
        </label>
        <p class="error" th:errors="${recipe.name}"></p>
    </div>

    <div class="form-group">
        <label>Description
            <input th:field="${recipe.description}" class="form-control">
        </label>
        <p class="error" th:errors="${recipe.description}"></p>
    </div>

    <div class="form-group">
        <label>Contact Email
            <input th:field="${recipe.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${recipe.contactEmail}"></p>
    </div>

    <div class="form-group">
        <label>Type
            <select th:field="${recipe.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"></option>
            </select>
        </label>
        <p class="error" th:errors="${recipe.contactEmail}"></p>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>

</form>
</body>
</html>
