<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<div th:replace="fragments :: recipes-page-header"></div>

<form method="post">

    <th:block th:each="recipe : ${recipes}">
        <div class="form-group">
            <label>
                <span th:text="${recipe.name}"></span>
                <input type="checkbox" name="recipeIDs" th:value="${recipe.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>