<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<div class="content">
    <div th:replace="fragments :: page-header"></div>

    <table  class="table table-striped">
        <thead>
        <tr>
            <th th:text="${shoppinglist.name}"></th>
        </tr>
        </thead>
        <tr th:each="ingredient : ${ingredients}">
            <td><a th:text="${ingredient.name}" th:href="'/ingredients/?ingredientId=' + ${ingredient.id}"></a></td>
        </tr>
    </table>
</div>

</body>
</html>