<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div class="content">
    <div th:replace="fragments :: page-header"></div>
    <header th:replace="fragments :: header"></header>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Username</th>
            </tr>

            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
            </tr>
        </table>

</div>

<div th:replace="fragments :: footer" class="short-footer"></div>

</body>
</html>