<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<h1>Add An Ingredient</h1>
<form class="form-custom" method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${ingredient.name}" class="form-control">
        </label>
        <p class="error" th:errors="${ingredient.name}"></p>
    </div>
    <div class="form-group">
        <label>Category
        <select th:field="${ingredient.category}">
            <option th:each="category : ${categories}"
                    th:value="${category}"
                    th:text="${category.displayName}"
            ></option>
        </select>
        </label>
    </div>
    <div class="form-group">
        <label>Add to Shopping List?
            <select th:field="${ingredient.toList}">
                <option th:each="toList : ${toLists}"
                        th:value="${toList}"
                        th:text="${toList.displayName}"
                ></option>
            </select>
        </label>
    </div>

    <div class="form-group">
        <input type="submit" value="ADD" class="button btn btn-success">
    </div>
</form>

</body>
</html>