<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: page-header"></div>

<header th:replace="fragments :: header"></header>

<form class="form-custom" method="post">

    <th:block th:each="ingredient : ${ingredients}">
        <div class="form-group">
            <label>
                <span th:text="${ingredient.name}"></span>
                <input type="checkbox" name="ingredientIds" th:value="${ingredient.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="DELETE" class="button btn btn-danger">
</form>

<div th:replace="fragments :: footer" class="short-footer"></div>

</body>
</html>