.body-content {
    margin-top: 72px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

table.job-listing {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

span {
    font-style: italic;
}

th:text {
    font-style: italic;
}


table.job-listing td:last-child {
    width: 80%;
}

label {
    margin-right: 15px;
}

.centered {
    text-align: center;
}

form {
    padding: 10px;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
  align: right;
}

nav{float:right;}

ul li{
  display: inline-block;
  padding:10px;
  font-size:20px;
  font-family:raleway;
  text-align: right;
}

ul li:hover{
  color:orange;

}

.navbar-custom {
    background-color: #273238;  /* Navy */
}

.navbar-text {
    color: #F4BC53; /* Yellow */
}

.button {
  background-color: #A62923; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family:raleway;
}

.button:hover {
  background-color: #EF8331; /* Orange */
  color: white;
}

.form input[type=search] {
  border: none;
  float: right;
  padding: 15px 32px;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 10px;
}

.logo img {
  float:left;
  vertical-align: center;
  align: left;
}

.col-4 {
  text-align: right;
}
