<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<body>

<div th:fragment="page-header" class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">One Plate at a Time</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a>My Account</a></li>
                <li><a>Find a Recipe</a></li>
                <li><a>LogIn</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>