<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/recipeapp.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>Recipe App</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top navbar-custom navbar-text">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="logo">
                    <img th:src="@{images/CHEFU3.png}" alt="CHEFU" width="200"/>
                </div>
            </div>
            <nav>
            <div class="col-4">
                <ul>
                    <li><a><form class="form">
                        <input class="form" type="search" placeholder="Find Your Match..">
                        <button class="button" type="submit">SEARCH</button>
                    </form></a>
                    </li>
                    <li href="#">Home</li>
                    <li href="#">Sign Up</li>
                    <li href="#">Login</li>
                </ul>
            </div>
            </nav>
        </div>
    </div>
</div>

</body>
</html>