<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<html>
<head th:replace="fragments :: head"></head>
<body>

<div class="content">

    <div th:replace="fragments :: page-header"></div>

    <H1>Put your recipes in action!</H1>
    <p>Drag your recipes to the day you'd like make it!</p>
    <br>

    <div id='external-events'>
        <p>
            <strong>Draggable Events</strong>
        </p>

        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 1</div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 2</div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 3</div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 4</div>
        </div>
        <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'>
            <div class='fc-event-main'>My Event 5</div>
        </div>

        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>remove after drop</label>
        </p>
    </div>

    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>

    <hr class="my-3"/>

    <div class="container">

        <div class="fixed">
            <th:block th:each="recipe : ${recipes}">
                <!--old id//id="drag2"-->
                <div class="form-group" draggable="true" ondragstart="drag(event)" id="item-class">
                    <label>
                        <span th:text="${recipe.name}" ></span>
                    </label>
                </div>
            </th:block>

            <div id='draggable-el' data-event='{ "title": "my event", "duration": "02:00" }'>drag me</div>
        </div>

        <div class="flex-item">
<!--            <div id='calendar'></div>-->
        </div>

    </div>

</div>
<div th:replace="fragments :: footer" class="short-footer"></div>

</body>
</html>





<!--<!DOCTYPE HTML>--> this is the code for the self created drag/drop
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<html>-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->

<!--<div class="content">-->

<!--    <div th:replace="fragments :: page-header"></div>-->

<!--    <H1>Put your recipes in action!</H1>-->
<!--    <p>Drag your recipes to the day you'd like make it!</p>-->
<!--    <br>-->

<!--    <hr class="my-3"/>-->

<!--    <div class="container">-->

<!--        <div class="fixed">-->
<!--            <th:block th:each="recipe : ${recipes}">-->
<!--                <div class="form-group" id="drag2" draggable="true" ondragstart="drag(event)">-->
<!--                    <label>-->
<!--                        <span th:text="${recipe.name}" ></span>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </th:block>-->
<!--        </div>-->

<!--        <div class="flex-item">-->
<!--            <div id='calendar'></div>-->
<!--&lt;!&ndash;            <div id="divday_1" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>SUNDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_2" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>MONDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_3" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>TUESDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_4" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>WEDNESDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_5" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>THURSDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_6" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>FRIDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div id="divday_7" ondrop="drop(event)" ondragover="allowDrop(event)"><h4>SATURDAY</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type='button' class="button btn btn-primary" onclick='saveAndDisplay()' value='SUBMIT'/>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->

<!--        </div>-->

<!--    </div>-->


<!--</div>-->
<!--<div th:replace="fragments :: footer" class="short-footer"></div>-->
<!--</body>-->
<!--</html>-->










